body {
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
}
.container-fluid {
  position: relative;
  left: 300px;
}
.buynow {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
  background-color: rgb(170, 210, 54);
  padding: 9px 34px;
  border-radius: 4px;
}
.collapse navbar-collapse {
  text-align: right;
}
.navbar-nav {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 14px;
}
#bg {
  max-width: 100%;
  max-height: 100%;
}
.section1 {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("veganbg.png");
  /* position: relative; */
  text-align: center;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 10px;
  line-height: 1.6;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.sp {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #8b8b99;
  position: absolute;
  top: 50%;
  left: 10%;
  text-align: center;
  margin: auto;
  z-index: 0;
}
.label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.description {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: repeat(4, 1fr); */
  height: 600px;
  width: 100%;
  text-align: center;
}
.step1 {
  background-color: #5acda6;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px 50px;
  width: 25%;
}
.step2 {
  background-color: #91ac41;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px 50px;
  width: 25%;
}
.step3 {
  background-color: #e4b476;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px 50px;
  width: 25%;
}
.step4 {
  background-color: #f69dad;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px 50px;
  width: 25%;
}
/* .step11 + i {
  font-size: 96px;
  color: white;
}
.step11 + i :hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
} */
#icon {
  font-size: 96px;
  color: white;
  padding: 20px;
  transition: all 0.3s;
}
#icon:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
#label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
}
#description {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: white;
}
#s3p {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0;
  margin-top: 35px;
  text-align: center;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
  text-align: center;
}
.sr {
  text-align: center;
  padding: 70px;
  padding-bottom: 0px;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.st {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #8b8b99;
  text-align: center;
}
.section3 {
  background-color: #f7eee2;
}
#storeitemwrap {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  height: 500px;
  width: 100%;
  text-align: center;
}
#icon3 {
  background-color: #e3b375;
  font-size: 60px;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  color: white;
  margin: 20px;
  background-position: center;
  transition: all 0.3s;
  padding: 35px;
}
#icon3:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.section4 {
  width: 100%;
  height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
}
#s4p1 {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0;
  margin-top: 35px;
}
h5 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
}
#s4p2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 1px;
}
.s4 {
  text-align: center;
}
.cardi {
  background-color: #f5f6fb;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  margin: 20px;
  padding: 50px;
  text-align: center;
}
.card-img-top {
  border-radius: 50%;
  width: 80px;
}
.card-text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-style: Italic;
  color: #8b8b99;
}
.card-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.card-text {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #8b8b99;
  font-style: Italic;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 40px;
  flex-wrap: wrap;
}
.card1 {
  margin: 20px;
  padding: 20px;
}
#img1 {
  width: 65%;
  background-size: cover;
}
.imgd2 {
  background-image: url("strawberry-white.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 30px;
  flex-wrap: wrap;
  text-align: left;
}

.section5 {
  display: flex;
  height: 460px;
  max-width: 100%;
}
#s5h {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
  text-align: left;
}
#s5p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b99;
  letter-spacing: 0.5px;
  text-align: left;
}
.btn {
  background-color: #f69dad;
  color: white;
  width: 100px;
  height: 50px;
  text-align: center;
}
.section6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 400px;
  width: 100%;
  justify-items: center;
  align-items: center;
}
.wrapper {
  padding: 50px 30px;
  text-align: center;
}
#s6p {
  color: #91ac41;
  font-weight: 300;
  font-size: 16px;
}
#s6h {
  font-size: 55px;
}
.section8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}
#s8p1 {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  padding: 10px;
}
#s8h1 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 600;
}
#s8p2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #8b8b99;
  line-height: 24px;
}
.wrapper1 {
  text-align: left;
  padding: 20px;
}
.bttn {
  border-radius: 6px;
  margin: 8px;
  width: 400px;
  height: 60px;
  border-color: black;
  border: 2px;
}
#submit {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: rgb(170, 210, 54);
  padding: 9px 16px;
  border-radius: 4px;
}
.ft {
  width: 100%;
  height: 100px;
  background-color: #232323;
  text-align: center;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 984px) {
  * {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .section2 {
    /* display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 0; */
    display: block;
    /* flex-direction: row; */
    width: 100%;
    height: auto;
  }
  .step1 {
    width: 100%;
    height: auto;
  }
  .step11 {
    width: 100%;
    height: auto;
  }
}
.step2 {
  width: 100%;
  height: auto;
}

.step22 {
  width: 100%;
  height: auto;
}

.step3 {
  width: 100%;
  height: auto;
}
.step33 {
  width: 100%;
  height: auto;
}
.step4 {
  width: 100%;
  height: auto;
}
.step44 {
  width: 100%;
  height: auto;
}
